.logo {
  display: block;
  float: left;
  height: 30px;
  margin: 12px 24px 0 0;
}

.link {
  margin-right: 5px;
  margin-left: -18px;
}

.link-icon {
  height: 0.5em;
  opacity: 0.5;
}

.link-icon:hover {
  height: 0.5em;
  opacity: 0.8;
}